[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: dfn_cdrtfe
name: cdrtfe
description: Open-Source Programm zum Brennen von Daten-Disks, Audio-CDs, XCD, (S)VideoCDs und Video-DVDs sowie zum Erstellen von ISO-Images und Boot-Disks
advice: 
version: 1.5.7
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup32.opsiscript
uninstallScript: uninstall32.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: language
multivalue: False
editable: False
description: Sets the language of the user interface.
values: ["auto", "de", "en", "fr"]
default: ["auto"]

[ProductProperty]
type: unicode
name: desktopicon
multivalue: False
editable: False
description: Icon on Desktop
values: ["no", "yes"]
default: ["no"]

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
dfn_cdrtfe (1.5.7-1)
	* Neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 02.05.2017

dfn_cdrtfe (1.5.6-1)
	* Neue Upstreamversion
	* o4i-Logo
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 15.09.2016

dfn_cdrtfe (1.5.5-2)
	* uninstall.vbs nach $InstallDir$ kopieren und nicht in 'files' ablegen (einfacheres Updaten)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 29.02.2016

dfn_cdrtfe (1.5.5-1)
	* Neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 29.02.2016

dfn_cdrtfe (1.5.4.1-1)
	* initiales DFN-Paket
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 23.02.2016












