[Package]
version: 2
depends: 

[Product]
type: localboot
id: dfn_cdrtfe
name: cdrtfe
description: Brennprogramm für verschiedene CD-/DVD-Formate zum Erstellen von ISO-Images und Boot-Disks [Burning application for various formats of CD-/DVD discs and creating of ISO images and bootable discs]
advice: 
version: 1.5.8
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup32.opsiscript
uninstallScript: uninstall32.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: language
multivalue: False
editable: False
description: Sets the language of the user interface.
values: ["auto", "de", "en", "fr"]
default: ["auto"]

[ProductProperty]
type: bool
name: desktop-link
description: Link on Desktop?
default: False

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
dfn_cdrtfe (1.5.8-2)
	* neue Registrysuche (https://github.com/opsi4instituts/lib, winst-Version 4.12.0.16 Voraussetzung)
	* neues o4i-Logo ("opsi4instutes")
	* zusätzlicher Check der Paket- bzw. Produktversion (via FileInfoList)
	* Deinstallation: suche ggf. nach vorhandenen Installationen via MSI bzw. Exe (Inno) & Check ExitCode mit uib_exitcode (local function)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 19.12.2018

dfn_cdrtfe (1.5.8-1)
	* Neue Upstreamversion
	* Anpassungen gem. o4i-Richtlinie (Desktop-Link, Logo)
	* alte uib Copyrights (Überbleibsel von opsi-template) entfernt
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 04.01.2018

dfn_cdrtfe (1.5.7-1)
	* Neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 02.05.2017

dfn_cdrtfe (1.5.6-1)
	* Neue Upstreamversion
	* o4i-Logo
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 15.09.2016

dfn_cdrtfe (1.5.5-2)
	* uninstall.vbs nach $InstallDir$ kopieren und nicht in 'files' ablegen (einfacheres Updaten)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 29.02.2016

dfn_cdrtfe (1.5.5-1)
	* Neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 29.02.2016

dfn_cdrtfe (1.5.4.1-1)
	* initiales DFN-Paket
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 23.02.2016












